@import "tailwindcss";
@theme {
  --color-primary: '#A6DCEF';
  --color-background: '#F5F5DC',
  --color-secondary: '#FFD6D6',
  --color-accent: '#DCC6E0',
  --color-success: '#D5F3E5',
  --color-warning: '#FFF3CD',
  --color-text: '#333333',
  --color-bermuda: #78dcca;
}
/* bg-bermuda
    text-text */