/* .paymentconfirm-content .checkout-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    max-width: 900px;
    margin: 20px auto;
} */

.paymentconfirm-content .checkout-container .box {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
}

.paymentconfirm-content .checkout-container .box h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
}

.paymentconfirm-content .checkout-container .summary-box .rows {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.paymentconfirm-content .checkout-container .summary-box .row {
    display: flex;
    justify-content: space-between;
}

.paymentconfirm-content .checkout-container .summary-box .row span {
    font-weight: 500;
}

.paymentconfirm-content .checkout-container .summary-box .total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
}

.paymentconfirm-content .checkout-container .summary-box hr {
    margin: 16px 0;
    border: none;
    border-top: 1px solid #eee;
}

.paymentconfirm-content .checkout-container .payment-box form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.paymentconfirm-content .checkout-container .payment-box form label {
    display: block;
    margin: 0 0 8px;
    font-size: 14px;
    font-weight: 500;
}

.paymentconfirm-content .checkout-container .payment-box form input {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.paymentconfirm-content .checkout-container .payment-box form .row2 {
    display: flex;
    gap: 12px;
}

.paymentconfirm-content .checkout-container .payment-box form .row2 div {
    flex: 1;
}

.paymentconfirm-content .checkout-container .payment-box form .pay-btn {
    width: 100%;
    background: #111;
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.paymentconfirm-content .checkout-container .payment-box form .pay-btn:hover {
    background: #333;
}
